# Photo stuff
photo_db/
stats.json

# Virtual Environment Stuff
.venv/

# Python
__pycache__/
*.pyc

# Claude Prompts and Information
Claude/

# Scratch review artifact written by the change-summarizer agent
CHANGES_PENDING_REVIEW.md

# Video Testing Stuff
test-videos/

# Internal Documentation for agents, not needed globally
docs/
